# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# uploads (local dev storage)
apps/api/uploads/
!apps/api/uploads/.gitkeep

# misc
coverage/
*.tsbuildinfo
